@page
@model dES.Pages.Order.IndexModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Main</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderTracking">Order tracking</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderList">All orders</a>
<div class="text-center">
    <h1 class="display-4">Info about that order</h1>
</div>
