@page
@model dES.Pages.Order.IndexModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Pagrindinis</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderTracking">Sekti užsakymą</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderList">Visi užsakymai</a>
<div class="text-center">
    <h1 class="display-4">Užsakymo informacija</h1>
</div>
