@page
@model dES.Pages.Order.OrderTrackingModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderList">Grįžti į pagrindinį menu</a>
<div class="text-center">
    <h1 class="display-4">Sekimo dėtalės</h1>
</div>