@page
@model dES.Pages.Order.OrderPaymentModel
@{
}
<div class="text-center">
    <h1 class="display-4">Payment details</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderInvoice">Accept</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Decline</a>
