@page
@model dES.Pages.Order.OrderTrackingModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Order/OrderList">Back to order meniu</a>
<div class="text-center">
    <h1 class="display-4">Tracking details</h1>
</div>