@page
@model dES.Pages.Order.RemoveOrderModel
@{
}
<div class="text-center">
    <h1 class="display-4">Remove Order</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Accept</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Decline</a>
