/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.CartContainer {
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 8px 28px #adadad1a, 1px 3px 8px rgba(39,44,49,.075);
}





.Cart-Items {
    margin: auto;
    margin-top:24px;
    width: 100%;
/*    height: 30%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    padding: 16px;
    padding-top:32px;
    width: 15%;
    text-align: center;
}



.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inc_dec {
    line-height: 12px;
    font-size: 32px;
    color: #505050;
}

.count {
    margin-top:8px;
    padding: 0px 16px;
    border: 0.5px solid #ababab;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.prices {
    padding-right: 32px;
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}








.checkout {
    margin-top: 32px;
    float: right;
    margin-right: 5%;
}

.total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Subtotal {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    color: #f34e46 !important;
    margin-left: 48px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}
.product-price {
    color: #f34e46 !important;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 900;
    color: #202020;
}

.btn-primary {
    font-family:Roboto;
    color:white;
    margin-top: 16px;
    background-color: #00968A !important;
}