@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-flex justify-content-center">

    <a asp-page="/ProductListing" class="card text-dark" style="margin-top: 36px;width: 18rem;">
        <img class="card-img-top" src="/assets/pc_2.png">
        <div class="card-body">
            <h5 class="card-title">Nešiojami kompiuteriai namams</h5>
        </div>
    </a>
</div>
