@page
@model dES.Pages.ProductDetailsModel
@{
}
<div class="row pt-4">
    <div class="col-6">
        <img src="~/assets/pc_1.png" style={{ height="256px" }} />
    </div>
    <div class="col-5">
        <h4> DELL inspiron 3425 ULTRA HD 16gb RAM 1TB ssd</h4>
        <div class="product-price">€ 1503.99</div>
        <div style="margin-top:96px;" class="w-50"> 
        <a asp-page="/ShoppingCart"  class ="btn btn-primary btn-lg btn-block">Į krepšelį</a>
        </div>

    </div>
</div>