@page
@model dES.Pages.ProductListingModel
@{
}
<body style="background-color:#f5f5f5">
    <a asp-page="/ProductDetails" class="card text-dark" style="margin-top: 36px;width: 18rem;border:none;">
        <img style="padding:24px;"class="card-img-top" src="/assets/pc_1.png">
        <div class="card-body">
            <h5 style="margin-bottom:16px;" class="card-title">DELL inspiron 3425 ULTRA HD 16gb RAM 1TB ssd</h5>
            <span style="font-family:Roboto;font-size:20px;margin-right:16px;">Kaina:</span>
            <span class="product-price">€ 1503.99</span>
            <div style="margin-top:4px;font-family:Roboto;">Kiekis: 4</div>
        </div>
    </a>
</body>