@page
@model dES.Pages.ShoppingCartModel
@{
}
<h2>Prekių Krepšelis</h2>
<div class="pt-4">
    <div class="container">
        @foreach (var item in Model.ShoppingCart.Items)
       {
           <div class="row my-4">
               <div class="col-lg-3"><img src="~/assets/pc_1.png" style="height:80px;" /></div>
               
            <a class="col-lg-6" asp-page="/ProductDetails" asp-route-productId="@item.Id">@item.Title</a>
            @*<div class="counter">
                <div class="inc_dec">-</div>
                <div class="count">1</div>
                <div class="inc_dec">+</div>
            </div>*@
                <span class="amount float-rigth col-lg-3">@item.Price €</span>
            </div>
            
       }
        
    </div>
    <hr>
    <div class="checkout">
        <div class="total">
            <div class="Subtotal">Užsakymo suma:</div>
            <div class="total-amount">@Model.Sum €</div>

        </div>
        <a asp-page="/Order/OrderPayment" asp-route-ID="1" class="btn btn-primary btn-lg btn-block">Tęsti</a>
    </div>
</div>