@page
@model dES.Areas.Admin.Pages.Orders.RemoveOrderModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Patvirtinti</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Index">Atšaukti</a>
